    {% load static %}
   
    <!-- Scripts -->
    <script src="{% static 'js/jquery3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/buttons.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/chart.umd.min.js' %}"></script>
    <script src="{% static 'js/tables.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/dashboardChartOptions.js' %}"></script>